body {
  margin: 0;
}

.container {
    background-color: white;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem;
}

.draggable {
    padding: 1rem;
    color: white;
    background-color: rgb(0, 80, 145);
    cursor: move;
    border-radius: 8px;
}

.draggable.dragging {
    opacity: .2;
}